.container {
    display: flex;
    min-height: 100vh;
    padding: 80px;
    color: var(--text-color);

    align-items: center;
    justify-content: space-between;
    max-width: 1500px;
    margin: 0 auto;
    gap: 200px;
}

/* LEFT */
.left {
    flex: 1;
    max-width: 600px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    margin: 0 auto;
    gap: 10px;
}

.left h1 {
    font-size: 56px;
    font-weight: bold;
    margin-bottom: 20px;
}

.left p {
    color: var(--text-color-secondary);
    line-height: 1.6;
    margin-bottom: 30px;
}

.btn-primary {
    background: linear-gradient(90deg, #16a34a, var(--green-text));
    border: 1px solid transparent;
    padding: 14px 24px;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    margin-right: 10px;
    cursor: pointer;
    box-shadow: 0 0 20px rgba(34, 197, 94, 0.4);
    width: 100%;
    transition: all 0.3s ease;
}

.btn-primary:hover,
.btn-secondary:hover {
    scale: 1.05;
}

.btn-secondary {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.01));
    border: 1px solid #374151;
    padding: 14px 24px;
    border-radius: 8px;
    color: #d1d5db;
    cursor: pointer;
    width: 100%;

    transition: all 0.3s ease;
}

/* RIGHT */
.right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* CARD */
.code-card {
    width: 100%;
    max-width: 550px;
    height: 220px;

    border: 1px solid #1f2937;
    border-radius: 12px;
    overflow: hidden;

    display: flex;
    flex-direction: column;

    background: linear-gradient(180deg, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.01));

    box-shadow:
        0 0 40px rgba(0, 255, 150, 0.15),
        inset 0 0 20px rgba(0, 255, 150, 0.05);
}

/* TABS */
.tabs {
    display: flex;
    gap: 20px;
    padding: 12px 16px;
    border-bottom: 1px solid #1f2937;
    font-size: 14px;
    flex-shrink: 0;
}

.tabs span {
    color: #6b7280;
    cursor: pointer;
    transition: 0.3s;
}

.tabs span:hover {
    color: var(--green-text);
}

.tabs .active {
    color: var(--green-text);
    text-shadow: 0 0 8px var(--green-text);
}

/* TERMINAL */
pre {
    flex: 1;
    padding: 20px;
    font-size: 14px;
    color: var(--green-text);
    font-family: "Courier New", monospace;
    white-space: pre-wrap;

    overflow-y: auto;
}


/* Cursor piscando */
pre::after {
    content: "|";
    animation: blink 1s infinite;
    margin-left: 4px;
}

@keyframes blink {

    0%,
    50%,
    100% {
        opacity: 1;
    }

    25%,
    75% {
        opacity: 0;
    }
}

@media (max-width: 768px) {
    .container {
        padding: 50px;
        flex-direction: column;
        gap: 100px;
    }

    .left {
        text-align: center;
    }

    .right {
        width: 100%;
    }

    .code-card {
        max-width: 100%;
        height: 180px;
    }

    .tabs {
        gap: 10px;
        font-size: 12px;
    }

    pre {
        font-size: 12px;
        padding: 15px;
    }
}