@import url('css/home.css');
@import url('css/features.css');
@import url('css/games.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  outline: none;
}

body {
  background: radial-gradient(circle at center, var(--primary-color), var(--secondary-color));
}

:root {
  --primary-color: #050510;
  --secondary-color: #000;
  --text-color: snow;
  --text-color-secondary: #9ca3af;
  --green-text: #22c55e;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #050816;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, #00aaff, #0044ff);
    border-radius: 20px;
    border: 2px solid #050816;
    box-shadow:
        0 0 6px #00aaff,
        inset 0 0 6px rgba(255, 255, 255, 0.2);
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(180deg, #33bbff, #3366ff);
    box-shadow:
        0 0 10px #33bbff,
        inset 0 0 8px rgba(255, 255, 255, 0.3);
}