@import url('css/home.css');
@import url('css/features.css');
@import url('css/games.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  outline: none;
}

body {
  background: radial-gradient(circle at center, var(--primary-color), var(--secondary-color));
}

:root {
  --primary-color: #050510;
  --secondary-color: #000;
  --text-color: snow;
  --text-color-secondary: #9ca3af;
  --green-text: #22c55e;
}